streamlit
pandas
torch>=2.1
numpy<2.0
matplotlib
seaborn
scikit-learn
scipy
xgboost
imblearn
joblib
nltk
wordcloud
langdetect
transformers
underthesea
pyvi
regex
openpyxl
yake
summa
gdown
sentence_transformers
